extends layout

block content
 div.p-section
  p.title= title
 div.p-section
  p.img: img(src='/images/mel.jpg')
  p.inline-text.
   Hello! My name is Lena. I'm a frond-end developer/UX-designer from St.Petersburg.
   I love my job. Can you imagine some wonderful and extraordinary things? Well, now keep it your mind and remember about routine, ado, tiredness.
   Oh, now just add to this mix some joy of the performed work and limitless creativity. You can see little examples of my works in this site. Enjoy!
