doctype html
html
  head
    title= "Melicenta's personal page"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic&subset=latin,cyrillic,latin-ext,cyrillic-ext', rel='stylesheet')
    block scripts
     script(src='/javascripts/jquery-ui-1.11.4/external/jquery/jquery.js')
     script(src='/javascripts/jquery-ui-1.11.4/jquery-ui.js')
     script(src='/javascripts/menu.js')
  //   script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
  //   script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
  //    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
  //   script(src='/javascripts/vidzy.js')

  body
    include parts/header
    div.wrapper
      div.content
       div.container
        block content
    include parts/footer
