//
   Created by Елена on 19.02.2016.
.flex-table
   .row
      .row-item
         img(src='/images/icon_festnetz_verfuegbarkeit.svg')
      .row-item
         img(src='/images/icon_adresse_verfuegbarkeit.svg')
   .row
      .row-item lower item the first
      .row-item lower item the second



