footer.footer
 span.left &#169; Denezhnaya Yelena
  i   2014-2015
 span.right
  ul
   li: a(href="/") Home
   li: a(href="/origin") Origin
   li: a(href="/resume") Resume
   li: a(href="/experience") Exquisite experience
   li: a(href="/profession") Profession
div.preloader
    include ../parts/preloader
    // img.bc(src="/images/preload.gif" )

