footer.footer
 span.left &#169; Denezhnaya Yelena
  i   2014-2015
 span.right
  ul
   li: a(href="/") Home
   li: a(href="/origin") Origin
   li: a(href="/portfolio") Portfolio
   li: a(href="/experience") Exquisite experience
   li: a(href="/profession") Profession

