header.header
 p: a(href="/").
     Melicenta's personal page
 div.menu-panel
  span.menu-button.
   <!-- svg code section-->
   <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
   <g id="1">
   <rect x="100" y="50"   stroke-miterlimit="10" width="400" height="50"></rect>
   <rect x="100" y="150"  stroke-miterlimit="10" width="400" height="50"></rect>
   <rect x="100" y="250"  stroke-miterlimit="10" width="400" height="50"></rect>
   </g>
   </svg>
   <!-- svg code section-->

  div.menu-container.smart-menu-panel.dashboard-menu-panel
   span.smart-menu-item.menu-item-enabled: a(href="/") Home
   div.smart-menu-item-group
    span.smart-menu-item.menu-item-enabled: a(href="/origin") Origin
    span.smart-menu-item.menu-item-enabled: a(href="/resume") Resume
    span.smart-menu-item: a(href="/experience") Exquisite experience
   span.smart-menu-item.menu-item-enabled: a(href="/profession") Profession
