//
   Created by denezhnaya on 30.10.2015.
div.line-section
    p.img: img(src='/images/webminer/authorization.png')
    p.img: img(src='/images/webminer/main-page_1.png')
    p.img: img(src='/images/webminer/theme-creation.png')
    p.img: img(src='/images/webminer/theme-page_3.png')

