- var bodyClass = "origin";
extends ../layout

block content
 div.p-section
    p.title= title
 div.line-section
 //
  p.img: img(src='https://photos-5.dropbox.com/t/2/AACrWdkzr5Deg5TswFWT4dd6lUd49LVIxExMmGZytJTJfA/12/445559471/jpeg/32x32/1/_/1/2/DSC01035.JPG/EPyAmcwDGOIBIAcoBw/-U5cCa1XhzgnNIVqlC8pNbCP2dwVTEI-fZk7OPYm48k?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-3.dropbox.com/t/2/AABHcc1cfGPp_yX8HDm_gUKZVY-V4plsZqkKWXqJPQVN7A/12/445559471/jpeg/32x32/1/_/1/2/DSC01054.JPG/EPyAmcwDGOIBIAcoBw/mhushZqqU4OlMTdPxGD-PZx2gdAhRJ2J4beNzxcfgMk?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-5.dropbox.com/t/2/AADrLyVkeV2HGZlC515Oj2bdyY0ErCn2pkHLAaCcwOX-zg/12/445559471/jpeg/32x32/1/_/1/2/DSC01059.JPG/EPyAmcwDGOIBIAcoBw/bLrFnX6jf9hFpytwN_tovaE-_aQVk_TqGqr9F077Qm8?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-3.dropbox.com/t/2/AAAGsv4mmFc-ar8vfYjtvtLwOWeFLq13t_gnl4XUTMMxpQ/12/445559471/jpeg/32x32/1/_/1/2/DSC01087.JPG/EPyAmcwDGOIBIAcoBw/Xq_aV5VN92tZHlUqkvkJ3l5Nn8cqrqUpDjdKMejy6Is%2C6vfjW5IlqCfapTPYUN58iiLkqfDYp7lRC3I1x9BRewg?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-6.dropbox.com/t/2/AABu8mDze8HzLAaYwOwwldUixggsBfkdguUDKlCjMr0Crg/12/445559471/jpeg/32x32/1/_/1/2/DSC01105.JPG/EPyAmcwDGOIBIAcoBw/9nH3iklzSbx8dv3c9SDOKo2SQOHKYt1oTbGQnyOdOCE?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-6.dropbox.com/t/2/AAB11APpoEMGB53NCVJHAP1VZus-NGuTYcKV3A_R2GltLg/12/445559471/jpeg/32x32/1/_/1/2/DSC01115.JPG/EPyAmcwDGOIBIAcoBw/dYD_uzUzE9d82gX8ZS5KPhfRoffs5kEB52c3_IZAVmI%2C7W0qFr1MkEycpJ3gT5s2AotZhkpllVTf_HE0OnBQor4?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-3.dropbox.com/t/2/AADCYtuoUGedN-rYYqqA1Qnto3CIe5eWIcNJ5GI2cuhnYQ/12/445559471/jpeg/32x32/1/_/1/2/DSC01134.JPG/EPyAmcwDGOIBIAcoBw/0oIT2W_3sdKYmXSSpv5r35bEmQLuqaie87GtyM4_xWw?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-5.dropbox.com/t/2/AACbbFDNFhS-URF4OzKhjtV4GSH-n-9NaFDMlxvBAShcqw/12/81534872/jpeg/32x32/1/1447174800/0/2/DSC00741.jpg/EJC9uT8YhbcBIAcoBw/kEAbzV8cmFUY5keVSY0x2OQANc55PRAAyl6QmadEL7M?size_mode=2&size=1600x1200')
  p.img: img(src='https://photos-3.dropbox.com/t/2/AABNqUv-O5wR1vwmwrGvPkzYVn1jjeO0UUaPmQ73KWLLrg/12/81534872/jpeg/32x32/1/1447174800/0/2/DSC00743.jpg/EJC9uT8YhbcBIAcoBw/GHwPwka4PGut-m3834oJOSf_1a7BHZK0SA5inGJW5rk?size_mode=2&size=1600x1200')
  p.img: img(src='https://photos-1.dropbox.com/t/2/AAD8AbuPAqEakOfnPCDOfKfmiwx0Fky82_ALRhfhdwmmLA/12/81534872/jpeg/32x32/1/1447174800/0/2/DSC00774.jpg/EJC9uT8YhbcBIAcoBw/h3KTDnZQjrFLMqT8y6en9-wROtnFLmoh5fDhwMR4hXg?size_mode=2&size=1600x1200')
  p.img: img(src='https://photos-2.dropbox.com/t/2/AACSl12rVYdZnTkK8fWd6Z6M7s1AmljqJvV70hp6DYuu1w/12/81534872/jpeg/32x32/1/1447174800/0/2/DSC00766.jpg/')
  p.img: img(src='https://photos-3.dropbox.com/t/2/AACJXX3oP1UeUcz_v4KCdvaqnOfh4PFOr_v9IROvv_SpGQ/12/81534872/jpeg/32x32/1/1447174800/0/2/DSC00833.jpg/EJC9uT8YhbcBIAcoBw/IsJ6kUw6Z61C-8EXmJ15hzLFM55Drhr8R0GgCo5W_Gs?size_mode=2&size=1600x1200')
  p.img: img(src='https://photos-4.dropbox.com/t/2/AACI8Yvtrk_JpT6euOc2yu09b2un7kSJHbgdGGxQclTgUg/12/81534872/jpeg/32x32/1/1447174800/0/2/DSC00679.jpg/EJC9uT8YhbcBIAcoBw/YzTSm5SuLZfh4zXrTHiXRWr1CVArH0GTWrryquYO05g%2CqwAuZkwqqHfbDo4Mj-gnlZbmWE2wJo_LZ-5GMqDYRCo?size_mode=2&size=1600x1200')
