extends ../layout

block content
 div.p-section
    p.title= title
 div.line-section
  p.img: img(src='https://photos-5.dropbox.com/t/2/AACrWdkzr5Deg5TswFWT4dd6lUd49LVIxExMmGZytJTJfA/12/445559471/jpeg/32x32/1/_/1/2/DSC01035.JPG/EPyAmcwDGOIBIAcoBw/-U5cCa1XhzgnNIVqlC8pNbCP2dwVTEI-fZk7OPYm48k?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-3.dropbox.com/t/2/AABHcc1cfGPp_yX8HDm_gUKZVY-V4plsZqkKWXqJPQVN7A/12/445559471/jpeg/32x32/1/_/1/2/DSC01054.JPG/EPyAmcwDGOIBIAcoBw/mhushZqqU4OlMTdPxGD-PZx2gdAhRJ2J4beNzxcfgMk?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-5.dropbox.com/t/2/AADrLyVkeV2HGZlC515Oj2bdyY0ErCn2pkHLAaCcwOX-zg/12/445559471/jpeg/32x32/1/_/1/2/DSC01059.JPG/EPyAmcwDGOIBIAcoBw/bLrFnX6jf9hFpytwN_tovaE-_aQVk_TqGqr9F077Qm8?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-3.dropbox.com/t/2/AAAGsv4mmFc-ar8vfYjtvtLwOWeFLq13t_gnl4XUTMMxpQ/12/445559471/jpeg/32x32/1/_/1/2/DSC01087.JPG/EPyAmcwDGOIBIAcoBw/Xq_aV5VN92tZHlUqkvkJ3l5Nn8cqrqUpDjdKMejy6Is%2C6vfjW5IlqCfapTPYUN58iiLkqfDYp7lRC3I1x9BRewg?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-6.dropbox.com/t/2/AABu8mDze8HzLAaYwOwwldUixggsBfkdguUDKlCjMr0Crg/12/445559471/jpeg/32x32/1/_/1/2/DSC01105.JPG/EPyAmcwDGOIBIAcoBw/9nH3iklzSbx8dv3c9SDOKo2SQOHKYt1oTbGQnyOdOCE?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-6.dropbox.com/t/2/AAB11APpoEMGB53NCVJHAP1VZus-NGuTYcKV3A_R2GltLg/12/445559471/jpeg/32x32/1/_/1/2/DSC01115.JPG/EPyAmcwDGOIBIAcoBw/dYD_uzUzE9d82gX8ZS5KPhfRoffs5kEB52c3_IZAVmI%2C7W0qFr1MkEycpJ3gT5s2AotZhkpllVTf_HE0OnBQor4?size=1600x1200&size_mode=2')
  p.img: img(src='https://photos-3.dropbox.com/t/2/AADCYtuoUGedN-rYYqqA1Qnto3CIe5eWIcNJ5GI2cuhnYQ/12/445559471/jpeg/32x32/1/_/1/2/DSC01134.JPG/EPyAmcwDGOIBIAcoBw/0oIT2W_3sdKYmXSSpv5r35bEmQLuqaie87GtyM4_xWw?size=1600x1200&size_mode=2')