extends ../layout

block content
 div.text
  p.title= title
  p.
    Дорога к торговому центру ведет через кладбище
    “You don't know I sing these songs,
    About you,
    You don't know the Pseudonyms, I assume,
    For you.”
        Franz Ferdinand - Bite hard
    “All of my songs can only be composed of the greatest of pains.
    Every single verse can only be born of the greatest of wishes...”
    Nightwish - Beauty Of The Beast

    1 The Jimi Hendrix Experience - Bold as love
    Открываю глаза и перестаю понимать. Мне кажется, что все теряет смысл, когда ты просыпаешься. Стоит только уснуть: все волновавшее последние часов восемнадцать просто испаряется. И  будто с чистого листа.
    Какое же это блаженство! Не тянешь ничего со вчера за собой. Будто сдал экзамен и никому не должен более.
    Оборачиваюсь. Рядом со мной кто-то лежит. Я щурюсь, потому что глаза плохо фокусируются в полумраке, да и сонная одурь не сходит быстро. Кто это? Почему он тут? И где это тут? Оглядываю комнату.
        Все кругом будто только что появившееся. Словно я никогда прежде здесь не была. Но почему тогда я так чувствую свое присутствие в каждой детали? Здесь прохладно. Пахнет табаком, скошенной травой и чем-то синтетически сладким. Тонкая нежно-салатовая ткань штор развевается у приоткрытого окна. Светлые, отливающие серебром стены. Напротив кровати висит небольшая картина в стиле “Джарна-кала”, рядом этажерка заваленная книгами. В углу на небольшом, изящно изогнутом кресле цвета мокрого асфальта лежит черный мужской пиджак.
        Я слышу его тихий смех. Он гладит мое плечо. Я оборачиваюсь. Разряд проходит через все тело…
    ***
    Он понравился мне далеко не сразу. И лишь спустя пол года начал вызывать у меня интерес. Кажется, мы раза два или три поговорили. А спустя некоторое время я уже искала повод оказаться рядом с ним. Забавно было замечать, как он верил моим небылицам, как следил за моими реакциями, как смотрел на меня, думая, что я этого не замечаю.
    ***
    Помню, был канун Хэллоуина. Я подходила к двери, когда он вытянул руку вперед и открыл передо мной дверь. Я обернулась: честно говоря, я была очень рада его видеть. Почему-то он тогда рано пришел на работу.
    В тот день ребята  решили все в офисе украсить атрибутикой этого непонятного, но близкого нам праздника. А всем своим дамам они вручили черные остроконечные шляпы. Я попросила примерить одну из них, он сказал тогда “не принимай на свой счет, но тебе действительно идет”.
    А мне действительно шло. Потому что у меня горели глаза и пылали щеки. Потому что он так на меня смотрел тогда. Потому что он проводил со мной очень много времени. Потому что я ни на секунду не сомневалась в нем...Потому что я была влюблена.
    ***
    Помню ощущение чуда, когда он смотрел на меня с диким отчаяньем в глазах, подбираясь ко мне с каждым выдохом на сантиметр ближе, собираясь с мыслями. Когда он вдруг, будто совершая прыжок в пропасть, выпалил : “Давай сходим куда-нибудь - все равно куда! Не знаю.” Когда я в-первые растерялась и не поняла, что мне делать дальше.
    У нас была странная история, которая перетекла в странную свадьбу. Все кругом поздравляли его. Он молодец. Он все успел. Он все знает. Он лучше всех.
    Ты какая-то озадаченная. Голова болит?
    Я еще не проснулась до конца.
    Он смотрит на меня и загадочно улыбается. Мне всегда было интересно, что стоит за этой его улыбкой. Иногда я думала, что он вынашивает планы по захвату мира - слишком уж статичен он становился в такие моменты. Шучу конечно...шучу.
    Ты знаешь, я не могла понять где я нахожусь.
    Аххах, да… Я тоже не совсем еще понял. То есть я помню конечно, где мы, но вот кто мы друг другу я еще не осознал...Забавно…
    А почему на мне корсет? Я не могу вспомнить как мы вчера умудрились? Подожди! Я что, порвала вчера свадебное платье?!
    Он смеется и лениво потягивается.
    Если тебе будет от этого легче, то я тебе немного помог...слегка...
    Он разглядывает меня, как всегда бессовестно, но теперь еще и с видом победителя.
    А ты приготовишь завтрак?

    7 The Velvet Underground - Venus in furs
    У него выдалась непростая неделя. Он разумеется считает, что у него выдалась непростая жизнь. Но сегодня у него был очень удачный день. Он приходит домой в приподнятом настроении. Накануне он получил поддержку от двоих очень полезных и понимающих в своем деле людей - теперь он может быть спокоен за свое детище - проект будет жить. Все, как он хотел когда-то. Идеальный код, идеальный вид, польза для всех, кто будет приложением пользоваться. Сегодня он чудно провел вечер с новыми друзьями. Он готов пуститься в пляс, но природные данные предлагают ему несколько иной вариант.
    Он застает ее мрачно поедающую пустые макароны. Он очень удивлен, что она встала. Еще не рад. Он не понимает, вполне ли она здорова. Он садится рядом и внимательно оглядывает ее.
    Ты как? Лучше?
    Ага. Есть нечего. У меня желудок от голода разболелся.
    Ну...мне было не до продуктов.
    Она стреляет в него укорительным взглядом.
    Да...я понимаю. Столько дел!
    Что не так? Я всю неделю бегаю между спальней и аптекой. Я вот только вчера хоть делами смог заняться нормально. Хватит из меня делать...ладно...тебе лучше?
    Лучше. Неделю он бегал. По кабакам?
    Долгий взгляд из под нахмуренных бровей. Он взглатывает слюну, выдерживает паузу и отвечает максимально четко и громко.
    Да.
    Затем встает и уходит.
    Он перебирает струны, глядя в пустоту. Она тихо заходит в кабинет и садится рядом с ним.
    Как выступление?
    Какое?
    Ты же сегодня играл.
    Хм...в прошлый четверг.
    Ааа...а сегодня что было?
    А сегодня у меня была деловая встреча…
    Не понимаю!
    Ты болела сильно, почти не вставала. Ты просто не все помнишь.
    Она сидит в недоумении.  Для нее прошло два дня. Она то приходила в себя, то погружалась в один бесконечный сон, где дни сменяли друг друга, жизнь текла своим чередом, и каждое мгновение было наполнено особым смыслом. Там у нее были друзья, влюбленности, много работы, переживания, суета. Там она была совсем еще молодой девочкой. Там она боролась со страхами. Она крутилась у зеркала, красила волосы, кокетничала с парнями в присутствии того самого, кто наполнял ее жизнь радостью и грустью. Там у нее было имя, которое она очень любила. Там было столько всего. А потом она просыпалась и не понимала, почему она здесь. Что за странный пустынный мир, в котором она живет. В котором нет ничего, кроме этой квартиры в этом городе и этого человека, без которого она не может существовать, потому что она здесь из-за него. Но она едва понимает почему.
    Действительно прошла неделя. Он носил ей бульон, кормил ее лекарствами и держался из последних сил. Он успокаивал себя тем, что это лишь болезнь. Ее упреки и угрозы не должны так больно жалить его. Но ведь он не из железа. Когда она засыпала, он уходил из дома. Он не мог ночевать с ней в одной комнате. Он не мог находиться с ней в одном пространстве. Он чувствовал себя запертым в этом неправдоподобном мире. Он не чувствовал себя настоящим. Он начинал существовать, когда она засыпала. Когда она переставала думать о нем, у него появлялась  своя жизнь. Жизнь, которую он и не мог оставить. Безусловно, все задумывалось не так. Это была утопическая фантазия. Его грезы об идеальной семье, где рядом с ним будет идеальная женщина, которая всегда его понимает. Он спасался от своих невзгод в этих образах, когда был еще совсем юн. Теперь все переменилось.
    Она кладет голову ему на плечо.
    Прости меня!
    Я не злюсь, что ты...
    Они могу говорить на любую тему сколь угодно долго. Им это никогда не надоест. Они любят дорогой алкоголь и вкусно поесть. Им важно быть очень близко друг от друга.
    Они увлечены своими делами. Она сидит по вечерам на работе. Он перескакивает с подмостков за письменный стол. Он создает. Она творит. Иллюзия вновь обретает форму. Здесь снова есть кислород. Здесь вновь действуют законы физики. Все подчинено логике и всегда остается какая-то загадка. Время идет. Время течет. Время дышит.
    Есть такая особая форма человеческих отношений: один принуждает, другой вынуждает принуждать. Тот, кого выставляют здесь тираном, таковым на самом деле не является и являться никак не может. Но это не рушит формулы. Достаточно быть уверенным и в меру целеустремленным эгоистом. Желательно обладать сколь-нибудь яркой индивидуальностью. Остальное сделает мнимый ведомый. Он будет манипулировать и  перекраивать ситуацию на свой лад. Он выставит негодяем при любом раскладе и не даст возможности оправдаться. Единственным ходом “тирана” будет жестокое подавление и отрицание позиции своего партнера. Это тот самый спор, в котором не рождается истина, зато разрешаются внутренние конфликты. В итоге оба получают некоторую порцию сомнительного рода удовольствия. Один чувствует себя победителем, добившимся своего, а другой чужими руками решает свои проблемы. Витиевато. Пугающе отвратительно и потрясающе изобретательно.
    Люди нуждаются в близости. Тем более, когда они живут под одной крышей. Но они не приемлют простоты. Иначе это было бы слишком пресно.
    Они закрываются друг от друга на время. И даже теряют интерес, пока одному из них не приходит в голову наладить распадающуюся связь. Дальше следуют взаимные упреки. Она оскорблена его безразличным отношением к ней. Он обижен на нее за ее холодность и надменность. Ему ничего от нее не надо, только бы она не упрекала его вновь и вновь. Но она надевает лучшую свою маску женской привлекательности и цинично играет на его слабостях. Она максимально подчеркивает все то, что ему так нравится в ней, она прикидывается кроткой и манит к себе, но не подпускает. Здесь важно не перегнуть палку. Он должен захотеть оправдаться перед ней. Если она оттолкнет его слишком резко, он может и не подумать возвращаться. Если она слишком категорично закроет за собой дверь, он ни за что не пойдет за ней следом. Он скорее убежит в панике от этих невыносимых воспоминаний о причиненном ему унижении. Им любовь не дается легко. Один всегда ждет другого в напряжении. Феерия цвета, сотканная из слез.
    Итак, они стоят друг напротив друга. Их внеочередная ссора напоминает поединок быка и льва. И никому из них не выжить. Но это их не волнует.
    То есть ты считаешь, что можно жить, как тебе вздумается, а я всегда буду прям рада-рада любому твоему появлению? Мне стоило один раз не прийти вовремя домой, так ты меня чуть ли не за шкирку притащил, мышцу мне потянул на руке. А у тебя, значит, внезапно поездка куда-нибудь. Потом какие-то “дела”, мифические встречи. То ты сидишь дома целыми днями и нельзя отвлечься никак, то тебя вообще не застать. Почему я все время должна тебя просить о чем-то? Почему я все время тебя навязываюсь? А?
    Послушай…
    Нееет, я не хочу слушать. Я хочу разобраться. Ты меня кормишь пустыми обещаниями все время нашего знакомства. Сколько мы вместе? Года полтора. А сколько мы женаты? Чуть больше месяца. За это время я только раза два или три слышала от тебя вменяемые объяснения. Хочешь ездить - езди, мне не жалко. Мне плевать с кем ты там можешь спать или не спать и, я даже знать не хочу, что еще делать. Я хочу просто знать, что я могу на тебя рассчитывать. Но нет. Ни за что. Ты делаешь лишь то, что тебе выгодно. Все. Другого не дано. Никаких больше вариантов. Вот если тебе нужна моя помощь, то ты прям все готов сделать. Ну как  - все...в рамках разумного. Очень таких узеньких рамках.
    Я у тебя два дня назад спросил, не будешь ли ты против, если я на выходные уеду. В чем теперь ты меня обвиняешь, я не понимаю.
    Конечно! Ну разумеется, дорогой ты мой. Конечно, не понимаешь. Ты готовишься месяцами,а мне говоришь за два дня. Для тебя все логично, безусловно.
    А смысл говорить? Ты слушаешь?
    Да. Я всегда слушаю. У меня уши уже отвисли от лапши, а я все слушаю, все наслушаться не могу.
    Ну хватит. Научись уже наконец формулировать свои претензии адекватно. Почему я регулярно прихожу домой и натыкаюсь на необъяснимый скандал?
    А тебе так не разу и не пришло в голову, что я не имею права тебе что-то запретить. Что если я вдруг однажды скажу, что ты не должен никуда идти, то ты не просто уйдешь. Ты совсем уйдешь. И я буду полной дурой в твоих глазах. Еще большей, чем теперь. Нет? Ты не думал об этом? Как я могу?
    Допустим. Тогда сейчас я в чем виноват? Что вернулся?
    Да как ты можешь вообще? Поступай, как считаешь нужным. Я ничего не могу сделать.
    Что сейчас я сделал не так? Ты объяснишь?
    Она подходит к нему близко-близко, приподнимается на цыпочки, чтобы дотянуться до его уха и шепчет, словно хочет околдовать:
    Догадайся, трус!
    Его кровь кипит. Запах ее кожи, волосы, блестящие глаза, вырез, едва прикрытые ноги. Он слишком умен, чтобы поддаваться и слишком слаб, чтобы держаться дальше. Она ведь скучала, как же он мог не понять. Он должен был звонить ей все время, он должен был окружить ее своей заботой, когда вернулся. Но он пришел и просто начал рассказывать, как интересно провел время. А потом поинтересовался, а не пора ли им в кровать. Да он просто ничтожество, если верить ее словам. И он почти готов уже признать это, но ее хищный взгляд заставляет его сопротивляться.
    Я просто жду, пока ты успокоишься.
    Жди. Думаешь, дождешься?
    Ты устанешь рано или поздно.
    А ты?
    Я сейчас просто делаю тебе одолжение.
    Да? Весьма польщена. Сделай мне еще одно одолжение. Постой ровно. Я хочу тебе врезать.
    Давай.
    Она поднимает руку, но не решается даже замахнуться. Дальше нельзя. Иначе она перестанет быть жертвой. А ей это не выгодно. И она же совсем не в чем не виновата. Она бедная хрупкая девушка, которая безнадежно влюбилась и теперь не может ничего противопоставить своим чувствам.
    Как же так? Я уже приготовился.
    Опыта мало. Не могу… Можешь покажешь, как надо? Ты ведь можешь...
    Ловушка захлопнулась. Теперь она расплачется, он попытается ее обнять, она отстранится, скажет еще что-то резкое. Он не выдержит, толкнет ее на диван. Она заденет стеклянный журнальный стол, стукнется об подлокотник. Он стянет с нее лишнюю одежду, он потеряется в ощущениях на несколько минут и очнется от ее приглушенного стона.
    Дальше он выбежит из комнаты и, схватив пальто, ринется в объятья шумных улиц. Он обнаружит себя где-то в пяти или шести километрах от дома. Он купит сигарет и будет долго смотреть на свои вновь трясущиеся узловатые пальцы. “Ночь. Ледяная рябь канала...” - будет проносится в его голове. Отличная была “рыба” для того их интерфейса. Когда это было? Он уже не помнит. Это было не с ним. И не с ней.
    Он вернется домой под утро, обессиленный и побежденный. А она встретит его виноватым и перепуганным взглядом. Она потом расскажет ему про свои синяки и боли, она будет еще некоторое время вздрагивать, когда он будет подходить и прикасаться к ней, но всегда будет нежна и отзывчива. Они буду теперь беречь друг друга. Она будет милой, он будет заботливым. И так будет длится еще пару недель.
    8 Hellawes - Пусть вечерняя звезда взойдет над тобой (Enya cover)
    Полагаю, я не вовремя пришла.
    Ревновать к его развеселой жизни я уже привыкла, но вот к женщинам - это уже слишком. Что она делает в моем доме, в моей спальне, в моей проклятой реальности? Девица, лет тридцати или, может, чуть меньше, с нагловатым лицом недоуменно таращится на меня, сидя на моей кровати. Рядом с ним. Ничего особенного. Она зашла в гости, он решил поиграть для нее на гитаре. Конечно, это веселее делать в спальне. Раздеться они видимо не успели. Вот незадача.
    Привет. Это, кстати, моя жена.
    Жена? - переспрашивает девица
    Да, я разве не говорил? Я наверное должен вас представить.
    Да нет, не стоит. Вы не подумайте, мы знакомы давно просто - она вскакивает с кровати и протискивается между мной и стенкой в сторону двери. - До свидания.
    Я выдерживаю паузу. Снова нечем дышать. Но рыдать я пока не буду.
    Ничего такая.
    Да, приятная девушка .
    Я не чувствую никакого стеснения с его стороны.
    Приятная? За-ме-ча-тель-но. Слушай, … а где моя большая спортивная сумка? Черная. Для походов.
    Тут, на верхней полке в шкафу.
    Можешь достать?
    Да, - он лениво поднимается с кровати и направляется к шкафу - а ты собралась куда-то?
    Да.
    Командировка?
    Я в не том статусе, чтобы гоняться по командировкам.
    А куда тогда?
    Недалеко.
        Я начинаю складывать вещи. Спокойно. Я все должна делать спокойно. Не уверена, что смогу это пережить, но мне нужно хотя бы сейчас быть смелой. Чувствую его взгляд. Он внимательно наблюдает и ничего не делает. Любопытно ему. Как я рада.
    Ты злишься? На меня?
    Нет, я просто ухожу.
    Зачем?  Ты ревнуешь?  Что за глупость?
    Я не буду тебе больше мешать.
    Пожалуйста… - он берет у меня из рук свитер и держит его - не отдает - Эй, посмотри на меня.
    Отдай, это мое.
    Он усмехается и вешает свитер обратно в шкаф.
    Это моеее - передразнивает он меня, - Я знаю. Ну что ты?
    Он привлекает меня к себе. Сейчас он опять начнет меня убеждать, что я все неверно понимаю. Будет говорить, что я очень вспыльчивая, что нет причин для беспокойства. Я не спорю, что их нет. Все в порядке. Я просто отстраняюсь и иду к шкафу за этим самым свитером.
    Обернувшись, я вижу, как он уходит из комнаты вместе с сумкой. Я иду за ним следом. Мы сталкиваемся у дверей в кабинет.
    Куда ты ее унес? Отдай!
    Отдам, если пойму, что тебе это действительно нужно.
    А мне больше нечего терять. Я замахиваюсь и целюсь ему в лицо. Он быстро уворачивается, подхватывает меня и затаскивает в комнату.
    ***
    Есть вещи, которые определяют наше существование без нашего ведома и согласия.  Бывает, бесконечная доброта оборачивается фантастической ненавистью и всепоглощающей тоской. Она будет радоваться сегодня так, как будто больше никогда не сможет. Она будет неповторима. Все будут провожать ее взглядом. Она гонит от себя мысли. Любые. Она готовится к казни. Сегодня она раз и навсегда закроет дорогу к прошлому. Она не знает, что будет. Она не хочет этого знать -  ей не важны последствия. Она закончит все дела. Нарядится. Напишет на бумажке свое последнее послание ему. Она дождется его звонка. Он позвонит. Они поговорят о разных веселых вещах. Затем она заведет свою отрепетированную речь. Он растеряется еще больше, чем когда-либо. Потом она повесит трубку.
    “Ты слышишь? Эй?!”  - Полторы тысячи километров и две границы. Достаточно, чтобы раз и навсегда развеять их сомнения на счет друг друга.
    “Отзовись!”  - Тишина.  Занавес. Больше ничего.
    Она, вырывается и шипит что-то вроде “Ты так не сделаешь! Не надо! Отпусти!”. Я укладываю ее на диван, и сажусь рядом так, чтобы она не смогла встать. Надо же, как она завелась. Сейчас это мало похоже на провокацию. Она действительно напугана и огорчена. Надо ее как-то отвлечь. Слушать она меня все равно не станет. Я беру в руки гитару и начинаю полузабытую мной Wonderwall. Она всхлипывает и пихает меня коленками в спину. Невозможная жалость пронизывает меня от макушки до низа живота. Я откидываюсь назад, и ей ничего иного не остается, кроме как поддаться.
    Хватит тыкать в меня грифом, - недовольно бурчит она.
    А ты расслабься и перестань в него упираться.
    Она глубоко вдыхает, видимо, пытается побороть слезы.
    Помнишь эту песню? Я ее тебе когда-то играл. Давно уже, даже не помню когда.
    Это был не ты.
    Почему не я?
    Потому что с тех пор, как мы вместе, мне порой кажется, что это и не мы вовсе. Нас кто-то придумал и заставляет жить по своим законам. Даже не жить, но...существовать. У нас тут даже нет имен. Вспомни, давно ли ты меня называл по имени? А я тебя?
    Я задумываюсь. О чем она вообще? Но я чувствую, что она в чем-то права.
    Может быть, - говорю я и вступаю.
    Надо же, я почти помню эту песню. Я ее играл-то года три-четыре назад, а слушал и того раньше. Удивительно, как она тогда запала мне в душу…”No one’s gonna be stopped”... Хм, а это что за песня? Это другая...она была чуть раньше для меня.
    Дай мне уйти, пожалуйста.
    Зачем? Неужели ты действительно не хочешь возвращаться?
    Хотела бы, просто я боюсь, что будет некуда.
    Хм...Я вот еще одну песенку вспомнил. Ее тебе я тоже играл тогда.
    Я завожу Bitter Sweet Symphonie, искоса поглядывая на нее. Она успокоилась. Это очень хорошо. Она больше не злится. Остальное уже не так важно.
    Я заканчиваю и аккуратно ставлю гитару на пол рядом с диваном. Квартира погружается в плотную, обволакивающую тишину.
    Потом она вдруг говорит:
    Ты вот не любишь торговые центры. А я в детстве всегда мечтала бродить по ним. Помню, никогда не упускала возможности провести время в одном из них. А когда их стали строить еще и рядом с домом - это было просто счастье...Мне большего всего нравился один, что стоит у Парка Победы. Но мне так не нравился маршрут к нему. Дорога через кладбище...так цинично - строить дороги на прахе предков. Живые тратят деньги и развлекаются, а про мертвых все забыли. Но есть ведь могилы, которые берегут и регулярно чествуют....Но... как только мы перестаем напоминать о себе, про нас тот час забывают. И для этого не обязательно умирать. Не зацепило  - и забыли. Вот и я: как-будто однажды не зацепила.
    Что тут еще можно сказать? Я смотрю на часы.
    Поздно уже. Пойдем спать?
    Туда? В спальню? Мне идеология не позволяет.
    Хочешь спать здесь?
    Ну, если ты мне не дашь выйти, то да. Придется здесь.
    Хорошо. Давай спать тут.
    Я целую ее. Она не отвечает, но и не отвергает меня. “И вдруг нам становится страшно что-то менять…”
    9 Electric Light Orchestra - Ticket to the moon
    Однажды, рассказывая ей про то, что сделал за прошлый вечер в проекте, он пошутил про проблемы с гравитацией в теории струн. Она была невероятно польщена этим пассажем. Это такой клуб “не для всех”. Не все молодые люди шутят при девушках о физике, стараясь их подбодрить. Затем она уткнулась в код, а он, убедившись, что она стремится к нужному ему результату, побежал в ближайший фаст-фуд. Она попросила его купить мороженое. Это было в январе, но ей было очень жарко. Второй год подряд ей в январе жарко рядом с ним. Он вернулся с едой и поставил перед ней на стол стаканчик сливочного мороженого с клубничным сиропом.
    Strawberry fields forever - на выдохе произнес он, стесняясь собственной неловкости - у него вновь дрожали руки и он боялся опрокинуть лакомство на нее.
    Это же клубника, нет?
    Клубника - шутливо успокоил он - красная, как любовь!
    Она уцепилась за это воспоминание, как за спасательную шлюпку, спустя несколько месяцев. Это были последние для них дни. Потом обстоятельства растащили их по разные стороны реальности, где он менял свою жизнь к лучшему, а она гасла день ото дня под грузом собственной слабости. Теперь такое общение - редкость. Сойдясь вновь, спустя годы, они не смогли до конца простить друг другу былое и застряли - каждый в своем личном безвременьи.
    Она просыпается от ощущения падения и пространство сдавливает ее голову. Диван в их кабинете, на самом деле, весьма удобен для посиделок. Но сон - точно не его удел. Сейчас она это очень хорошо понимает. Немного придя в сознание, она шумно выдохнула и решила встать.
    Ай! - вскрикнула она от неожиданности - он уснул на полу рядом с диваном вчера.
    Одно из лучших пробуждений в моей жизни - протирая глаза, ответил он.
    Что ты  тут делаешь?
    Ты же решила спать здесь сегодня. Я не мог тебя оставить.
    Мне нужно умыться.
    Пойдем.
    Он встает с пола и, пошатываясь, выходит из комнаты. Она робко следует за ним.
    Затем они вместе уснут и проспят почти до обеда. Это будет чудный выходной. Она будет ждать от него разъяснений по поводу вчерашнего,  а он будет увлеченно рассказывать о своей новой предстоящей поездке.
    Ты только звони. Я очень прошу тебя. Мне это действительно нужно.
    Конечно позвоню - отвечает он, отворачиваясь в сторону.
    Она смотрит на него, не сводя глаз.
    Он не позвонит. Она прождет полторы недели и напишет ему язвительное сообщение. Он ответит спустя пару дней, что был очень занят, что скоро вернется и все расскажет. Он опоздает всего на пол часа. Она прочтет его сообщение, когда будет выходить из метро. Из той самой станции, из которой выходила с тяжелым сердцем, когда ей еще было восемнадцать. “Только нет на свете того пути, где нам вечно нет еще двадцати, всего спросу — радовать и цвести, как всегда вначале”. Она меняла приоритеты и привязанности, но горечь все равно  возвращалась к ней спустя некоторое время.
    “What more can I say  - it’s just one way” - играет у нее в наушниках. Билет на луну. Билет в один конец. Как же она любит играть в фатальные исходы, надеясь, что еще все переменится! Она час назад вышла из их квартирки с той самой черной спортивной сумкой. Она положила туда самые важные для себя вещи. Сняла с правой руки два золотых кольца, которые связывали ее с ним, и положила их на видное место. То ли хитрый ход, то ли жест отчаянья. Она не знает.
    Это кажется весьма любопытным: уходить, и ждать, что попросят вернуться. Но сейчас она рассуждает немного иначе. В ее представлении, с близкими нужно общаться открыто. Им нужно звонить. Нужно давать о себе знать. Хотя бы раз в неделю. Нельзя иначе. Она до сих пор не может смириться с мыслью, что он не будет обрывать телефон без повода. Значит есть для него вещи важнее. Но он зачем-то женился на ней.  Она полагает, что вернувшись, он будет удивлен, вновь не застав ее дома. Удивлен и оскорблен. Он будет ревновать, решив, что она ушла к другому. Возможно, все-таки позвонит. А до этого момента он не будет переживать из-за нее.
    Он живет сегодняшним днем. Но каждый раз перед сном он погружается в иллюзии. Там у него все получается. Вокруг него счастливые люди. И он счастлив. Абсолютно и безоговорочно. Он рассуждает о том, что мог бы еще сделать. Он засыпает с улыбкой. Он не имеет никакого представления о тех кошмарных фантазиях,  порождаемых сумасбродным умом его жены. Он бывает одинок. Он чувствует себя одиноким. Но для него это жизненно необходимо. Через несколько дней он вернется обратно, полный сил и новых впечатлений. Он будет стремится рассказать всем и каждому, как многое он узнал, сколько чудесного он увидел. Конечно, он будет озадачен ее отсутствием. Он поймет, что она злится. Он тактично будет ждать, пока она не смягчится. И лишь случайно заметит блюдце на стеклянном столике в кабинете. И два золотых колечка в нем. Одно, подаренное ей на новый год когда-то. И другое - обручальное. Она его больше не любит?
    “Wondering sadly if the ways that led me here, could turn around and I would see you there, standing there”.
    Однажды они шли вдвоем на концерт. Он по пути помог спустить коляску со ступенек какой-то женщине в метро. Ей было интересно, всегда ли он такой внимательный и галантный ко всем. Он вспоминал, как ходил по этому проспекту будучи студентом. Они вели оживленный разговор. Так общаются люди, которым важно наладить контакт. Она ждала этого вечера. Хоть группа была хороша, дело было совершенно не в музыке. Ей было важно, кто к ним присоединится потом. Какая-то его знакомая девушка. Кто она ему? После концерта ее ждал друг, они потом еще долго гуляли. Был восхитительный вечер. Но ей стало значительно спокойнее, когда она поняла, что та девушка была действительно хорошей знакомой. Подругой может быть, но никак не возлюбленной. Ей было приятно знать, что он одинок сейчас. Значит, у нее есть призрачный шанс, если она вдруг действительно сильно увлечется им.
    Потом все будет очень красиво складываться. Он будет уделять ей много внимания. Осыпать комплиментами. Играть для нее сентиментальные песни по вечерам. Она будет сиять для него. Такая нежная. Она исколет себе пальчики, возясь с грубой синтетической тканью его пальто. Он будет обгонять ее, как бы быстро она ни шла, чтобы успеть открыть перед ней дверь и отставить стул, чтобы ей было удобно садиться. У них будет идеальная осень. Их будет ждать зима по расписанию. Снег в тот год выпадет первого декабря и пропадет почти на месяц. Он поведет ее под руку до метро в один предновогодний вечер. Он крепко обнимет ее на прощание.
    Ты когда придешь домой, хотя бы сообщение скинь, что добралась. Я тебя очень прошу - он будет почти скулить, говоря ей это,
    Хорошо - она прижмется к нему, наслаждаясь скоротечными секундами своего триумфа, - а ты... будешь защищать меня?
    Буду!
    Она ему обязательно напишет. Ох, сколько еще она напишет потом!
    Она будет писать. Она будет звонить. Она будет ждать. Но спустя годы он лишь случайно заметит блюдце на стеклянном столике в кабинете. И два золотых колечка. Стало быть, она его больше не любит.
    “I wish I could go back there again and everything could be the same.”
    10 Bob Dylan - Ballad of a thing man
    Ни один из его даже самых близких друзей не знает ровным счетом ничего о его жизни. Она же знала о нем все, даже то, что не хотела бы знать. Она кропотливо собирала о нем факты и делала удивительные выводы. Когда он что-то рассказывал о себе или своих планах, она изображала удивление и заинтересованность. Она же это все уже знает. А он чувствовал, что его неверно понимают. Он натыкался на надменный взгляд. Он закрывался. Конечно же она ничего не понимала. Ее знания ложились мертвым грузом ей на сердце и ожесточали его. Чем больше он с ней общался, тем сильнее было чувство, что он попал в ловушку. Он растворялся. Исчезал. Его будто затягивала другая, несуществующая вселенная, где не было его самого, но была его мрачная и неповоротливая тень.
    Итак, он остался один. Трудно быть героем повести, которую автор не захотел дописать. Именно так он чувствует себя сейчас. Он смотрит на себя в зеркало. Кого он видит там? Себя ли? Перед ним стоит относительно высокий мужчина лет тридцати с темными волосами. Достаточно худой. У него сильные широкие плечи. Но этого не видно со стороны - легкая сутулость, как признак мнительности натуры, портит мужественный вид и придает образу характер капризного подростка. У него тонкий профиль, но в анфас его лицо порой кажется немного грубоватым. Прядь волос спадает ему на лоб и оттеняет сдвинутые от усталости и разочарований брови. И потухший взгляд его светлых северных глаз.
    Он это уже проходил. Она обвиняет его в чем-то и уходит. И ждет, что он помчится в след. А он не знает, куда нужно бежать. Он не знает как ответить на это. И надо ли? Она считает, что любовь нужно доказывать. А он считает, что нужно просто любить. Ей все подруги, как одна, будут советовать оставить его, говорить, что она ни за что не дождется счастья с ним. Да он и не держал ее никогда. Вопрос лишь в том, был ли он хоть в чем-то перед ней виноват? Даже он сам не знал на это ответа. Никто не знал.
    Он много пьет и почти не напивается.  Он мало ест. Он привык есть мало. Он привык жить один - это его кредо. Но теперь ему дурно. “But you don't understand just what you will say when you get home. Because something is happening here but you don't know what it is. Do you, Mister Jones?”  - вдруг зазвучало из спальни. Это ее телефон. Он заходит в комнату и обнаруживает ее старенький смартфон на тумбе возле кровати. Он крутит его в руках  с недоумением.  Она оставила его здесь со своей прежней сим-картой. Она сменила номер. И кто же звонил ей сейчас? Этого телефона нет в списке. Он перезванивает на незнакомый номер. В трубке раздается ее голос. Как это низко.
    11 The Doors  - The crystal ship
    Я до сих пор не понимаю мотивов ее поведения. Женщины, которые не хотят отношений, так себя не ведут. Женщины, которые хотят отношений, себя тем более так не ведут. Я не понимаю, чего хочет она. Развода не требовала, ничего не говорила. Просто собрала вещи и ушла. Мобильник свой старый оставила, чтобы звонить на него. Конечно же ушла к родителям. И с ней все хорошо - я в этом абсолютно уверен. Она тоскует наверняка. Я не буду ей мешать. Пусть отдохнет. Так будет даже лучше. У нас будет еще миллион возможностей поговорить. Миллионы ссор, миллионы способов потратить свое время. Вот теперь это мой мотив.
    ***
    Блюзовый шаффл. 12 тактов. Триоли с паузами. О превратностях судьбы в контексте происходящего. Эпизоды заплетаются в толстую тугую косу сентиментальных воспоминаний и надежно запираются в облачном небытии.  Жест доброй воли - раскаяние и отречение. Так было нужно. Так вероятно должно было быть.
    У меня голова кружится. Он приехал неделю назад. Я это точно знаю. Я даже оставила ему свой телефон, чтобы у меня была возможность услышать его голос. Но он ничего мне не сказал. А теперь он пришел сюда, к нам, на наш праздник. Зачем?
    Я торчу в туалете уже минут пятнадцать. Жду, пока он закончит играть эти свои бесконечные  песни. Смешно сказать: я прячусь в туалете от собственного мужа. Нужно с ним поговорить. Нужно себя заставить.
    Я выхожу и натыкаюсь на него в коридоре.
    Я как раз тебя искал - улыбается он мне.
    Нужно поговорить - у меня перехватывает дыхание: как же я боюсь его терять!
    Я предлагаю выпить, за одно и поболтаем.
    Мы заходим в комнату, где когда-то провели ни один вечер наедине. И пили мы там не раз. Только вот отношения не обсуждали. Творили. Удивительный все таки поворот.
    Он наливает шампанское в бокалы и подает один из них мне.
    За наступающий год или за уходящий? - спрашиваю.
    За что-нибудь хорошее...
    А есть хорошее?
    Да. Как ты тут?
    Ничего. А ты?
    Грустно без тебя, но в целом все отлично.
    Я рада.
    Слушай, я не намерен тут торчать дальше. Если хочешь, можем куда-нибудь сходить…
    Можно...только...что-то я себя чувствую нехорошо. Мне нужно продышаться.
    Я приоткрою окно.
    Вот что я опять делаю? Неужели так сложно просто с ним быть? Ведь он пришел. Он со мной разговаривает. Что может быть лучше? Он всегда будет исчезать из моей жизни - я должна это принять. Но он будет возвращаться, если я попрошу, если я действительно буду ждать.
    Он открывает окно. Оборачивается. Я закрываю глаза и аккуратно роняю бокал.
    Она видимо перенервничала. Я вызываю такси. Она немного приходит в себя и просит отвезти ее домой. Я беру ее пальто, помогаю ей одеться. Она извиняется и говорит, что почти ничего не ела, а теперь шампанское довершило вечер. Когда мы выходим за ворота, она кладет руку мне на плечо и теряет равновесие. Мне приходится взять ее на руки.
    Спустя пол часа я заношу ее в спальню. Она уснула в машине. Я укладываю ее в постель. Что теперь? Все заново? Или на этот раз обойдется?  Думаю,  стоит заканчивать на высокой ноте. Я достаю из ящика ее обручальное кольцо и надеваю ей на палец. Она это заслужила.
    12 Сплин - Пой мне еще
    Я люблю этот город до потери сознания, до слез в глазах, до судорог. Нет и не будет на свете места, лишь незначительное упоминание о котором, могло бы пробуждать столь глубокие воспоминания. Стоит взглянуть на фотографию, и вот, я уже чувствую как где-то рядом тащит санки вновь простудившаяся девочка, для которой Новый год - самый главный праздник, потому что будет вкусная еда, мультики по телевизору, катание с горки, подарки. Ее укачивает в автомобиле, но она обожает ездить. Ей дома 40-50х годов напоминают дворцы, а в каждом дворе она чует особый запах. Она каждый год ждет чудес,но не каждый год они происходят. Она плачет, грустит и грозит сама себе чем-то страшным,  но все равно ждет их, будто это единственная ее обязанность. Она становится старше и надеется, что еще и умнее. Она уже не радуется каждому дню, но все равно еще верит в чудо. Она ждет кого-то, кого пока рядом нет, но он придет к ней. Обязательно.
    И вот мы едем через драгоценный мост навстречу реке, что берет начало у защищающих город высот и впадает в окружающий город канал. Наша дорога проходит через старое межконфессиональное кладбище и ведет к торговому центру. Мы скоро повернем и поедем вдоль реки и мы обязательно увидим радугу. Ту радугу, что когда-то появлялась на глазах восторженного мальчика. Ту радугу, что он видел из окна, когда учился взрослой жизни, делал ошибки и обретал себя.
    Мы вернемся обратно к окружному каналу, и меж краснеющих огней найдем место одной их важной встречи. Мы перейдем канал и рядом с парком, что когда-то был местом расправы над неугодными, совсем недалеко от первой железной дороги в давно погибшей империи, мы найдем место их прощаний.
    Мы пойдем вдоль этого парка в сторону писательских улиц и обязательно встретим их самих. Он обнимает ее и с горечью говорит: “Кажется, я не взаимно влюблен”, а она ему отвечает: “Я думаю, что у меня сейчас больше похоже на слова из песни “Убей меня за то, что я давно к тебе остыл””. Они говорят о самой чистой и волшебной разновидности  любви, о которой оба лишь мечтают. Он сажает ее на поезд, что перевезет ее на другую сторону, неловко поцеловав ее на прощанье…
    Но это не они. Это какие-то похожие на них люди. Я ничего не знаю про них. Они только что  вышли из какого-то английского паба и идут к метро. Ничего примечательного: обычная парочка. Да и не парочка вовсе, если приглядеться к ним. Быть может их вообще и не было некогда. Привиделось, наверное.
    Мои герои сейчас совсем в другом пространстве. Вот они: идут рука об руку, спорят о чем-то. А вот они остановились и решили подождать трамвай. У нее золотистые волосы, тонкие пальцы и хитрые глаза. На его смуглом лице чуть поджаты губы, будто он что-то собирается сказать, что вероятно ее смутит. Куда они поедут? Мы обязательно спросим у них, когда встретим их в следующий раз. Буду ждать.
