extends ../layout

block content
  div.p-section
   p.title= title
  div.line-section
   p
    b.
     Education :
   |PETER THE GREAT SAINT-PETERSBURG РOLYTECHNIC UNIVERSITY, INSTITUTE OF COMPUTING AND CONTROL, Department - Measuring Information Technologies, 2007 - 2012;
   |Graduate work - "Measuring information system for temperature determination using thermocouples",
   |hardware was created as a part of the course work, software based on PHP, MySQL and native HTML + CSS.

   p: a(href='http://eng.spbstu.ru/institutes/engineering/institute-of-computing-and-control/').
       SAINT-PETERSBURG РOLYTECHNIC UNIVERSITY
  div.line-section
   p
    b.
     My professional skills :
   |JavaScript, HTML, CSS.
   br
   |Frameworks - jQuery, Bootstrap; Preprocessor: LESS; Module loader - RequireJS;
   |Semantic templates - Handlebars, Jade, JSP; Standards & technologies  - HTML5, CSS3, ES5, JavaEE; Architecture principals - OOP, Restful API, MVC.
  div.line-section
   p
    b.
     My working knowledge :
   |Full stack - Node.js + Express.js + Angular.js; Front-end - Java EE projects, Spring MVC + Mustache; Basic principals of SQL and NoSql databases; User experience design practice.
  div.line-section
   p.
    IDE : NetBeans, WebStorm, Visual Studio, Keil µVision.
    Additional : Adobe Illustrator, Adobe Photoshop.
    VCS: SVN, GIT
